name: Shellcheck

on:
  pull_request:
    paths:
      - '**/*.sh'
      - '.github/workflows/script-validate.yaml'

jobs:
  validate-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check shell scripts
        run: .ci/validate_shellscripts.s
